{
  "root": "client/",
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    ".git/",
    "build/",
    "coverage/",
    "src/db/",
    "src/**/*.unit.js",
    "src/**/*.int.js",
    "src/**/__test__.js",
    "src/**/index.js",
    "node_modules/**/node_modules/"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "all": true,
  "sourceType": "module",
  "require": "babel-register",
  "report-dir": "coverage/"
}
