{
  "root": "client/",
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    ".git/",
    "src/**/*.test.js",
    "build/",
    "coverage/",
    "src/**/index.js",
    "node_modules/**/node_modules/"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "all": true,
  "sourceType": "module",
  "require": "babel-register",
  "report-dir": "coverage-client/"
}
